<div id='container'>
  <h1> Facebook's VC Fundraise History </h1>
  <div id='d3container'>
    <button id="button">Animate</button>
    <svg id="image">
    </svg>
  </div>
</div>
<!--
<script src="js/ddd.js.coffee" type="text/javascript"></script> -->

<%= javascript_include_tag "ddd", "data-turbolinks-track" => true %>
